<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
      body {
        font-family: monospace;
      }
      form.inline {
        display: inline;
      }
      .delete-file {
        font-weight: bold;
      }
    </style>
    <script>
      function show_alert() {
  if(!confirm("Do you really want to do this?")) {
    return false;
  }
  this.form.submit();
}
      </script>
  </head>
  <body>
    <div id="wrapper">
      {% block body %}
      {% endblock %}
    </div>
  </body>
</html>
