<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <style>
      body {
        font-family: monospace;
      }
      form.inline {
        display: inline;
      }
      .delete-file {
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      {% block body %}
      {% endblock %}
    </div>
    <script>
      const progBar = document.getElementById('progress');
      const progUp = document.getElementById('progress-uploaded');
      const progTotal = document.getElementById('progress-total');
      function show_alert() {
        if(confirm("Do you really want to do this?")) {
          this.form.submit();
        }
      }
      function upload_file() {
        var data = new FormData();
        data.append('file', document.getElementById('fileupload').files[0]);
        data.set('dir', document.getElementById('dir').value);
        var request = new XMLHttpRequest();
        request.open('post', '/upload');
        /* every .25 seconds, roughly */
        request.upload.addEventListener('progress', (e) => {
          var perc = Math.floor((e.loaded/e.total)*100);
          progTotal.innerHTML = e.total;
          progUp.innerHTML = e.loaded;
          console.log(perc);
          progBar.value = perc;
        });
        /* when finished uploading */
        request.addEventListener('load', (e) => {
          console.log("done");
          location.reload(false);
        });
        request.send(data);
      }
      window.onload = () => {
        document.getElementById('submit-file-btn').addEventListener('click', upload_file);
      };
      </script>

  </body>
</html>
