{% extends 'layout.html' %}

{% block body %}
  {% for file in files %}
    {% if files[file] == 'd' %}
    D <a href="/show/{{ root }}/{{ file }}">{{ file }}</a>
      <form action="/delete" method="POST" class="inline" onsubmit="return show_alert(this);">
        <input type="text" name="directory" value="{{ root }}" hidden>
        <input type="text" name="filename" value="{{ file }}" hidden>
        <input type="text" name="type" value="directory" hidden>
        <input type="submit" value="X" class="delete-file">
      </form>
      <br>
    {% elif files[file] == 'f' %}
    F <a href="/download/{{ root }}/{{ file }}" target="_blank">{{ file }}</a>
      <form action="/delete" method="POST" class="inline" onsubmit="return show_alert(this);">
        <input type="text" name="directory" value="{{ root }}" hidden>
        <input type="text" name="filename" value="{{ file }}" hidden>
        <input type="text" name="type" value="file" hidden>
        <input type="submit" value="X" class="delete-file">
      </form>
      <br>
    {% endif %}
  {% endfor %}
  <hr>
  <div id="upload_inputs">
    <input type="file" name="file" id="fileupload">
    <input type="text" name="dir" value="{{ root }}" hidden id="dir">
    <input type="submit" value="Upload" onclick="upload_file();">
  </div>
  <label for="progress">Upload Progress:</label>
  <progress id="progress" min="0" max="100" value="0"></progress>
  <br>
  <label for="progress-adv">Advanced Progress Stats:</label>
  <span id="progress-adv">
    <span id="progress-uploaded">0</span>/<span id="progress-total">0</span>
  </span>
{% endblock %}
